@model LogsViewModel

<script asp-append-version="true"  src="~/js/logs/logs.js"></script>

<style>
    table tr:hover {
        cursor: pointer;
    }

    .selected {
        background-color: darkblue;
        color:white;
        font-weight:bold
    }
</style>

<input type="hidden" id="hidSchedID" value="@Model.SchedID" />

@if (Model.prelogs.Count() > 0)
{
    <div class="col-6" id="div_prelogPartialView">
        @await Html.PartialAsync("../Logs/_PreLogWeeks", Model)
    </div>
}

@if (Model.postlogs.Count() > 0)
{
    <div class="col-6" id="div_postlogPartialView">
        @await Html.PartialAsync("../Logs/_PostLogWeeks", Model)
    </div>
}