<!doctype html>
<!--[if lte IE 9]>     <html lang="en" class="no-focus lt-ie10 lt-ie10-msg"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-focus">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ocean Media Scheduling Tool</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">

</head>

<body>

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            var $acctname = $('#acctname');
            var options_acctname = {
                url: "/Global/GetAppVersion",
                type: "get",
                async: false
            };

            var $server = $('#server');
            var options_server = {
                url: "/Global/GetDatabaseServer",
                type: "get",
                async: false
            };

            var $database = $('#database');
            var options_database = {
                url: "/Global/GetDatabaseName",
                type: "get",
                async: false
            };

            $.ajax(options_acctname).done(function (data) {
                $acctname.text(data);
            });

            $.ajax(options_server).done(function (data) {
                $server.text(data);
            });

            $.ajax(options_database).done(function (data) {
                $database.text(data);
            });
        });
    </script>
    <!-- Page Container -->
    <!--
        Available classes for #page-container:

    GENERIC

        'enable-cookies'                            Remembers active color theme between pages (when set through color theme helper Codebase() -> uiHandleTheme())

    SIDEBAR & SIDE OVERLAY

        'sidebar-r'                                 Right Sidebar and left Side Overlay (default is left Sidebar and right Side Overlay)
        'sidebar-mini'                              Mini hoverable Sidebar (screen width > 991px)
        'sidebar-o'                                 Visible Sidebar by default (screen width > 991px)
        'sidebar-o-xs'                              Visible Sidebar by default (screen width < 992px)
        'sidebar-inverse'                           Dark themed sidebar

        'side-overlay-hover'                        Hoverable Side Overlay (screen width > 991px)
        'side-overlay-o'                            Visible Side Overlay by default

        'side-scroll'                               Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (screen width > 991px)

    HEADER

        ''                                          Static Header if no class is added
        'page-header-fixed'                         Fixed Header

    HEADER STYLE

        ''                                          Classic Header style if no class is added
        'page-header-modern'                        Modern Header style
        'page-header-inverse'                       Dark themed Header (works only with classic Header style)
        'page-header-glass'                         Light themed Header with transparency by default
                                                    (absolute position, perfect for light images underneath - solid light background on scroll if the Header is also set as fixed)
        'page-header-glass page-header-inverse'     Dark themed Header with transparency by default
                                                    (absolute position, perfect for dark images underneath - solid dark background on scroll if the Header is also set as fixed)

    MAIN CONTENT LAYOUT

        ''                                          Full width Main Content if no class is added
        'main-content-boxed'                        Full width Main Content with a specific maximum width (screen width > 1200px)
        'main-content-narrow'                       Full width Main Content with a percentage width (screen width > 1200px)
    -->
    <div id="page-container" class="sidebar-o side-scroll page-header-modern main-content-boxed">
        @RenderBody()

        <!-- Footer -->
        <footer class="opacity-0" id="page-footer" style="opacity: 1;">
            <div class="content py-20 font-size-xs clearfix">
                <div class="float-right">
                    <label id="server" name="server"></label>  <label id="database" name="database"></label>
                </div>
                <div class="float-left">
                    <a class="font-w600" href="https://www.oceanmediainc.com" target="_blank">Schedule Tool <label id="acctname" name="acctname"></label></a> © <span class="js-year-copy">2017</span>
                </div>
            </div>
        </footer>
        <!-- END Footer -->
    </div>
    <!-- END Page Container -->
    <!-- Codebase Core JS -->
    <script src="~/js/core/jquery.min.js"></script>
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/core/jquery.slimscroll.min.js"></script>
    <script src="~/js/core/jquery.scrollLock.min.js"></script>
    <script src="~/js/core/jquery.appear.min.js"></script>
    <script src="~/js/core/jquery.countTo.min.js"></script>
    <script src="~/js/core/js.cookie.min.js"></script>
    <script src="~/js/codebase.js"></script>

    <!-- Page JS Plugins -->
    <script src="~/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="~/js/plugins/sweetalert2/es6-promise.auto.min.js"></script>
    <script src="~/js/plugins/sweetalert2/sweetalert2.min.js"></script>

    <script src="~/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/js/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/js/plugins/select2/select2.full.min.js"></script>
    <script src="~/js/plugins/jquery-tags-input/jquery.tagsinput.min.js"></script>
    <script src="~/js/plugins/jquery-auto-complete/jquery.auto-complete.min.js"></script>
    <script src="~/js/plugins/masked-inputs/jquery.maskedinput.min.js"></script>
    <script src="~/js/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="~/js/plugins/dropzonejs/min/dropzone.min.js"></script>
    <script src="~/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/js/plugins/jquery-validation/additional-methods.min.js"></script>

    <!-- Page JS Code -->
    <script src="~/js/pages/be_ui_activity.js"></script>
    <script src="~/js/pages/be_forms_plugins.js"></script>
    <script src="~/js/pages/be_forms_validation.js"></script>

    <!-- Page JS Code -->
    <script>
        jQuery(function () {
            // Init page helpers (Table Tools helper)
            Codebase.helpers('table-tools');
            Codebase.helpers('notify');
            Codebase.helpers('core-tooltip');
            Codebase.helpers('select2');
            //Codebase.helpers('masked-inputs');
            Codebase.helpers('datepicker');
            //Codebase.helpers('masked-inputs');
        Codebase.layout($("#sidebarstyle").val());
        });
    </script>




</body>
</html>
