<table id="tblPlans" class="table table-bordered table-vcenter">
    <thead>
        <tr role="row">
            <th scope="row" class="text-left sorting_disabled" rowspan="1" colspan="1" aria-label="Id">MediaPlanId</th>
            <th scope="row" class="text-left sorting_disabled" style="width: 16%; font-weight:bold;" rowspan="1" colspan="1" aria-label="Name">Name</th>
            <th scope="row" class="text-right sorting_disabled" style="width: 6%; font-weight: bold;" rowspan="1" colspan="1" aria-label="Budget">Budget</th>
            <th scope="row" class="text-left sorting_disabled" style="width: 6%; font-weight: bold;" rowspan="1" colspan="1" aria-label="Budget Type">Budget Type</th>
            <th scope="row" class="text-right sorting_disabled" style="width: 7%; font-weight: bold;" rowspan="1" colspan="1" aria-label="Current Spend">Current Spend</th>
            <th scope="row" class="text-left sorting_disabled" style="width: 15%; font-weight: bold;" rowspan="1" colspan="1" aria-label="Buy Type Group(s)">Buy Type Group(s)</th>
            <th scope="row" class="text-left sorting_disabled" style="width: 28%; font-weight: bold;" rowspan="1" colspan="1" aria-label="Networks">Networks</th>
            <th scope="row" class="text-left sorting_disabled" style="width: 5%; font-weight: bold;" rowspan="1" colspan="1" aria-label="Status">Status</th>
            <th scope="row" class="text-left sorting_disabled" style="width: 5%; font-weight: bold;" rowspan="1" colspan="1" aria-label="Status">Locked By</th>
            <th scope="row" class="text-left sorting_disabled" style="width: 8%; font-weight: bold;" rowspan="1" colspan="1" aria-label="Action">Action</th>
        </tr>
    </thead>
</table>