@model ProposalViewModel

@Html.Partial("~/Views/ManageMedia/_ProposalNotes.cshtml", Model)
@Html.Partial("~/Views/ManageMedia/_AddNewProperty.cshtml", Model)

<div class="btn-group btn-group" role="group" aria-label="btnGroup3">
    <div id="divAddProperty"
         title="Add Property"
         data-toggle="popover"
         data-original-title="Add Property"
         data-placement="top"
         data-content="Add a new properties to proposal.">
        <button tooltip="Add Properties"
                class="btn btn-success"
                aria-describedby="popover880418"
                type="button"
                data-toggle="modal"
                data-target="#modal-addnewproperty">
            <i class="fa fa-list mr-5"></i>
        </button>
    </div>
    <div id="divShowEffExp"
         title="Show Dates"
         data-toggle="popover"
         data-original-title="Show Dates"
         data-placement="top"
         data-content="Show/Hide Expiration and Effective Dates">
        <button tooltip="Show Exp/Eff Dates"
                class="btn btn-success"
                id="btnPropShowDates">
            <i class="fa fa-eye mr-5"></i>
        </button>
    </div>
    <div id="divShowSpots"
         title="Show Spots"
         data-toggle="popover"
         data-original-title="Show Spots"
         data-placement="top"
         data-content="Show/Hide Compact Spots">
        <button tooltip="Show/Hide Compact Spots"
                class="btn btn-success"
                id="btnPropShowSpots">
            <i class="fa fa-eye mr-5"></i>
        </button>
    </div>    
    <div id="divNotes"
                   title="Add Notes"
                   data-toggle="popover"
                   data-original-title="Add Notes"
                   data-placement="top"
                   data-content="Add notes for this proposal.">
        <button tooltip="Notes"
                class="btn btn-success"
                aria-describedby="popover880418"
                type="button"
                data-toggle="modal"
                data-target="#modal-notes">
            <i class="fa fa-comments-o mr-5"></i>
        </button>
    </div>
    <div id="divColumns"
         title="Column Visibility"
         data-toggle="popover"
         data-original-title="Column Visibility"
         data-placement="top"
         data-content="Show/Hide Columns">
        <button tooltip="Show Columns"
                class="btn btn-success"
                id="btnPropShowColumns">
            <i class="fa fa-columns mr-5"></i>
        </button>
    </div>
    <div id="divColumnsReset"
         title="Reset Table State"
         data-toggle="popover"
         data-original-title="Reset Table State"
         data-placement="top"
         data-content="This will reset saved state of columns and filters back to default settings.">
        <button tooltip="Reset Columns"
                class="btn btn-success"
                id="btnPropResetColumns">
            <i class="si si-ban mr-5"></i>
        </button>
    </div>
    <div id="divLoadMore">
        <button id="btn-example-load-more" style="display:none" class="btn btn-alt-success">Load More Rows</button>
    </div>

    <!--
    <div>
        <button type="button"
                tooltip="Reload data"
                class="btn btn-success"
                onclick="javascript: ReloadPage();">
            <i class="fa fa-refresh mr-5"></i>
        </button>
    </div>
        -->
</div>
<br/>
<div class="btn-group btn-group" role="group" id="divColumnVisibility" name="divColumnVisibility" aria-label="btnGroup4" style="display:none">
    <button class="btn btn-secondary" onclick="ShowHideColumn(1);">APPRV</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(2);">Status</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(3);">Rev #</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(4);">Rev Dt</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(5);">Demo Univ</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(6);">Demo Name</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(7);">Network</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(8);">Property Name</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(9);">Eff Dt</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(10);">Exp Dt</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(11);">M</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(12);">T</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(13);">W</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(14);">Th</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(15);">F</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(16);">Sa</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(17);">Su</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(18);">DP</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(19);">Start - End</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(20);">OMDP</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(21);">SpotLen</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(22);">BuyType</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(23);">Full Rate</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(24);"><i>n</i>% Rate</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(25);">USD Rate</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(26);">CPM</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(27);">Imp</button>
</div>
<div class="btn-group btn-group" role="group" id="divColumnVisibility2" name="divColumnVisibility2" style="display:none">
    <button class="btn btn-secondary" onclick="ShowHideColumn(28);">Total Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(29);">Wk01 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(30);">Wk02 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(31);">Wk03 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(32);">Wk04 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(33);">Wk05 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(34);">Wk06 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(35);">Wk07 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(36);">Wk08 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(37);">Wk09 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(38);">Wk10 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(39);">Wk11 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(40);">Wk12 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(41);">Wk13 Spots</button>
    <button class="btn btn-secondary" onclick="ShowHideColumn(42);">Wk14 Spots</button>

    <button class="btn btn-secondary" onclick="ShowWeeklySpots();">Weekly Spots</button>
</div>