@model ScheduleViewModel


<div class="btn-group btn-group" role="group" aria-label="btnGroup3">
    <div>
        <button type="button" 
                tooltip="Reload data"
                class="btn btn-success" 
                onclick="javascript: alert('lai');">
            <i class="fa fa-refresh mr-5"></i>
        </button>
    </div>
</div>

