@model ViewUpfrontsViewModel

<div class="modal fade" id="modal-upfrontdeal" tabindex="-1" role="dialog" aria-labelledby="modal-upfrontdeal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Update Deal Point Data</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="block block-themed block-rounded block-bordered">
                                <div class="block-header">
                                    <h3 class="block-title">Upfront/Scatter @Model.PlanYear @Model.NetworkInfo.StdNetName</h3>
                                </div>
                                <div class="block-content">
                                    <div class="form-group row">
                                        <label class="col-12" for="txtBillboardAddedValue">Billboard Added Value:</label>
                                        <div class="col-md-12">
                                            @if (Model.ViewOnly == true)
                                            {
                                                <input type="text" class="form-control" id="txtBillboardAddedValue" name="txtBillboardAddedValue" readonly>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="txtBillboardAddedValue" name="txtBillboardAddedValue">
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12" for="txtUpfrontSponsorship">Upfront Sponsorship:</label>
                                        <div class="col-md-12">
                                            @if (Model.ViewOnly == true)
                                            {
                                                <input type="text" class="form-control" id="txtUpfrontSponsorship" name="txtUpfrontSponsorship" readonly>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="txtUpfrontSponsorship" name="txtUpfrontSponsorship">
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12" for="txtUpfrontCancellation">Upfront Cancellation:</label>
                                        <div class="col-md-12">
                                            @if (Model.ViewOnly == true)
                                            {
                                                <input type="text" class="form-control" id="txtUpfrontCancellation" name="txtUpfrontCancellation" readonly>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="txtUpfrontCancellation" name="txtUpfrontCancellation">
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12" for="txtScatterCancellation">Scatter Cancellation:</label>
                                        <div class="col-md-12">
                                            @if (Model.ViewOnly == true)
                                            {
                                                <input type="text" class="form-control" id="txtScatterCancellation" name="txtScatterCancellation" readonly>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="txtScatterCancellation" name="txtScatterCancellation">
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12" for="txtNetworkSeparation">Network Separation Policy:</label>
                                        <div class="col-md-12">
                                            @if (Model.ViewOnly == true)
                                            {
                                                <input type="text" class="form-control" id="txtNetworkSeparation" name="txtNetworkSeparation" readonly>
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control" id="txtNetworkSeparation" name="txtNetworkSeparation">
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <p>All paid spots are non pre-emptible unless approved by Ocean Media prior to pre-emption.</p>
                                            <p>No more than 1 spot per program.</p>
                                            <p id="lblFineLine3" name="lblFineLine3"></p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-success" data-dismiss="modal">
                    <i class="fa fa-check"></i>Close
                </button>
                @if (Model.ViewOnly == false)
                {
                    <button type="button" class="btn btn-alt-success" data-dismiss="modal" id="btnSaveUpfrontDeal">
                        <i class="fa fa-check"></i>Save
                    </button>
                }
            </div>
        </div>
    </div>
</div>

