@model ViewUpfrontsViewModel

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
    });
</script>
<table class="display compact" id="DRPriorEstimatesTable" name="DRPriorEstimatesTable">
    <thead>
        <tr>
            <th width="50%" class="d-none d-sm-table-cell text-left">Network Name</th>
            <th width="20%" class="d-none d-sm-table-cell text-left">Quarter Name</th>
            <th width="5%" class="d-none d-sm-table-cell text-center">EstimateVersion</th>
            <th width="20%" class="d-none d-sm-table-cell text-center">Version Date</th>
            <th width="20%" class="d-none d-sm-table-cell text-center">Select</th>
        </tr>
    </thead>
</table>


