<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">Legend</h3>
        <div class="block-options">
            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="content_toggle"></button>
        </div>
    </div>
    <div class="block-content">
        <div class="row gutters-tiny">
            <table class="dataTable display compact nowrap" style="width:100%">
                <tr>
                    <td class="table-danger text-center">Do Not Buy</td>
                </tr>
                <tr>
                    <td class="table-info text-center">Buy At Your Risk</td>
                </tr>
                <tr>
                    <td class="table-success text-center">Client Mandate</td>
                </tr>
                <tr>
                    <td class="table-warning text-center">Client Specific</td>
                </tr>
                <tr>
                    <td class="table-primary text-center">Log Actual</td>
                </tr>
            </table>
            <br/>
        </div>
    </div>
</div>
