
<style type="text/css">
    .bg-color {
        background-color: #F79646;
    }

    table.display {
        margin: 0 auto;
        width: 100%;
        clear: both;
        border-collapse: collapse;
        table-layout: fixed;
        word-wrap: break-word;
    }

    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }

    .bg-color {
        background-color: #F79646;
    }

    table.display {
        margin: 0 auto;
        width: 100%;
        clear: both;
        border-collapse: collapse;
        table-layout: fixed;
        word-wrap: break-word;
    }

    .dataTables_filter {
        width: 50%;
        float: right;
        text-align: right;
    }

    .HeaderPropertyName {
        min-width: 300px !important;
        max-width: 300px !important;
    }

    .HeaderWeekDOW {
        min-width: 88px !important;
        max-width: 88px !important;
    }

    .HeaderStartToEnd {
        min-width: 165px !important;
        max-width: 165px !important;
    }

    .HeaderBuyType, .HeaderDP {
        min-width: 35px !important;
        max-width: 35px !important;
    }

    .HeaderSpotLen {
        min-width: 65px !important;
        max-width: 65px !important;
    }

    .HeaderDemoNameImport {
        min-width: 122px !important;
        max-width: 122px !important;
    }

    .HeaderImps, .HeaderCPM {
        min-width: 100px !important;
        max-width: 100px !important;
    }

    .HeaderRate, .HeaderWeekDay {
        min-width: 105px !important;
        max-width: 105px !important;
    }

    .hideThis {
        display: none;
    }
    /*ST-720*/
    .fully-actualized-header {
        background-color: #F79646 !important;
    }

    .fully-actualized {
        background-color: #d5dde5 !important;
    }

    .fully-actualized-text {
        color: #899499 !important;
    }
</style>

<div class="modal fade" id="modal-UnAllocatedProposalsConfirmMatch" tabindex="-1" role="dialog"
     aria-labelledby="modal-UnAllocatedProposalsConfirmMatch" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="max-width: 98%;max-height: 95%;">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0" style="height:100%;">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title" id="ImportHeadingDataCM"></h3>
                    <div class="block-options">
                        <button type="button" id="btnCloseImport" class="btn-block-option"
                                data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div id="DivOverLayPopoupConfirmMatch" class="overlay" style="display: none; width: 100%!important;z-index:10000000;">
                    <div style="text-align:center;position:absolute;vertical-align:middle;color:blue;height:150px;width:150px;left:50%;top:50%;margin-left:-75px;margin-top:-75px;">
                        <img src="~/img/loadingImg.gif" style="height:60px;width:60px;" />
                    </div>
                </div>
                <div class="block-content" style="max-width: 100%;Overflow:scroll;max-height: 95%;padding:0;margin:0;">
                    <div class="form-group row gutters-tiny">
                        <div class="block-content block-content-full" id="divUnAllocatedNetworks">
                            <div id="divTotalSectionData" style="display:inline-block;">
                                <div style="float:left;">
                                    <span id="spnCurNetworkName" style="font-size:16px;font-weight:bold;"></span>
                                    <h3>Imports matching process completed successfully.<br /> Please confirm to update the Proposal.</h3>
                                    <div id="dealAction1" style="font-weight: 600;font-size: 1.557143rem;color: #171717;margin-top: -12px;"></div>
                                    
                                </div>                                
                                <table id="TotalDataConfirmMatch" class="compact table-bordered nowrap importtotalconfirm" cellpadding="0" cellspacing="0">
                                    <thead id="thTotalDataConfirmMatch">
                                    </thead>
                                    <tbody id="tbTotalDataConfirmMatch">
                                    </tbody>
                                </table>
                            </div>
                            <div class="propheading cleafix" style="width:100%;border:2px solid #000; text-align:center;background-color:#9ccc65;color:black; font-size:18px;font-weight:bold;padding:3px 0;margin-top:10px;text-transform: uppercase;">
                                Matched Properties
                            </div>
                            <table class="table-bordered table-vcenter js-table-checkable table-hover compact nowrap"
                                   id="ConfirmMatchedProposals" name="SingleMatchedProposals" style="border: 1px solid #e5e5e5;;width:95%;">
                                <thead id="thConfirmMatchedProposals">
                                    <tr style="border-bottom: 1px solid #e5e5e5;">
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="d-none d-sm-table-cell text-center align-text-top HeaderType HeaderPropertyName dtBackgroundColor filterhead highZindex">Property Name</th>
                                        <th class="d-none d-sm-table-cell text-center align-text-top HeaderType HeaderWeekDOW dtBackgroundColor filterhead highZindex">DOW</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="d-none d-sm-table-cell text-center align-text-top HeaderType HeaderStartToEnd dtBackgroundColor filterhead highZindex">Start - End</th>
                                        <th></th>
                                        <th class="d-none d-sm-table-cell text-center align-text-top HeaderType HeaderBuyType dtBackgroundColor filterhead highZindex">BT</th>
                                        <th></th>
                                        <th class="d-none d-sm-table-cell text-center align-text-top HeaderType HeaderDP dtBackgroundColor filterhead highZindex">DP</th>
                                        <th class="d-none d-sm-table-cell text-center align-text-top HeaderType HeaderSpotLen dtBackgroundColor filterhead highZindex">SpotLen</th>
                                        <th></th>
                                        <th class="d-none d-sm-table-cell text-center align-text-top HeaderType HeaderDemoNameImport dtBackgroundColor filterhead highZindex">Demo Name</th>
                                        <th class="d-none d-sm-table-cell text-center text-right align-text-top HeaderType HeaderRate dtBackgroundColor filterhead highZindex">Rate</th>
                                        <th class="d-none d-sm-table-cell text-center text-right align-text-top HeaderType HeaderImps dtBackgroundColor filterhead highZindex">IMP</th>
                                        <th class="d-none d-sm-table-cell text-center text-right align-text-top HeaderType HeaderCPM dtBackgroundColor filterhead highZindex">CPM</th>
                                        <th></th>
                                        <th class="d-none d-sm-table-cell text-center text-right align-text-top HeaderType HeaderCPM dtBackgroundColor filterhead highZindex">Tot Spots</th>
                                </thead>
                                <tbody id="tbConfirmMatchedProposals">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnbackChooseMatch" value="Back" class="btn btn-alt-secondary" onclick="BackToChooseMatches()" data-type="view" />
                <input type="button" id="btnConfirmMatches3" value="Confirm and Update Proposal" class="btn btn-alt-success" onclick="ConfirmAndSave();" data-type="view" />
            </div>
        </div>
    </div>
</div>
<script src="~/js/scheduleproposal/unallocatedpropsalsconfirmmatch.js" asp-append-version="true"></script>